<!DOCTYPE html>
<html>
<head>
<title>
</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
		<header>
      <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="/dashboard" class="brand-logo" id="brand-size">
            <span class="orange-text text-accent-1">fast</span>
            <span class="brown-text text-lighten-2">Learners</span>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div> <!-- nav-wrapper -->
      </nav>
    </header><!-- section-header -->

	<div class="container">
		<div class="row">
			<section class="col s5">
				<img src="/images/grad.jpg">
			</section>
			<section class="col s7">
				<h4>Hi, <%= user %></h4>
				<h6>Your result stats:</h6>
				<ul>
					<li><h5>no of questions: <%=totalQuestionNo%></h5></li>
					<li><h5>No of correct answers: <%=score%></h5></li>
					<li><h5>No of missed questions: <%=(totalQuestionNo-score)%></h5></li>
					<li><h5>Percentage: <%=Math.floor((score/totalQuestionNo)*100)%>%</h5></li>
				</ul>
			</section>
		</div><!-- row -->
	</div><!-- container -->

	<footer class="page-footer section-footer grey darken-3">
		<div class="footer-copyright">
			<div class="container">
			© 2017 fastLearners
			<a class="grey-text text-lighten-4 right" href="/">Home</a>
			<a class="grey-text text-lighten-4 right" href="/about">About</a>
			<a class="grey-text text-lighten-4 right" href="/content">Contact</a>
			</div>
		</div>
	</footer><!-- page-footer section-footer grey darken-3 -->

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/script/init.js"></script>
</body>
</html>