<html>
  <head>
    <title>fastLearners</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="#" class="brand-logo" id="brand-size">
            <span class="orange-text text-accent-1">fast</span>
            <span class="brown-text text-lighten-2">Learners</span>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </div> <!-- nav-wrapper -->
      </nav>
    </header>

    <div class="row">
      <div class="col s5 img">
        <h4 class="center-align">Welcome to
          <span class="orange-text text-accent-1"> fast</span>
          <span class="brown-text text-lighten-2">Learners</span>!!!</h4>
        <img src="images/huddle.jpg">

        <div class="comments">
          <h5 class=" center-align amber-text text-darken-3">We help you own your learning</h5>
        </div>
      </div><!-- col s5 img -->

      <div class="col s7 login">
        <h4 class="center-align">Sign Up</h4>
        <form class="push-s2 col s9" method="post" action="/signup">
        <% if (error) {%>
				<% for (var i = 0; i < error.length; i++) { %>
					<li><%= error[i].msg %></li>
				<% } %>
        <% } %>
          <div class="row">
            <div class="input-field col s12">
                <input id="first_name" name="first_name" type="text" class="validate pink-text.text-lighten-2" value="<%= inputedValues.first_name %>" required> 
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s12">
                <input id="last_name" name="last_name" type="text" class="validate pink-text.text-lighten-2" value="<%= inputedValues.last_name %>" required>
                <label for="last_name">Last Name</label>
              </div>
              <div class="input-field col s12">
                <input id="last_name" name="username" type="text" class="validate pink-text.text-lighten-2" value="<%= inputedValues.username %>" required>
                <label for="last_name">User Name</label>
              </div>
              <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate pink-text.text-lighten-2" value="<%= inputedValues.email %>" required>
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate pink-text.text-lighten-2" value="<%= inputedValues.password %>" required>
                <label for="password">Password</label>
              </div>
               <div class="input-field col s12">
                <input id="password" name="password2" type="password" class="validate pink-text.text-lighten-2" value="<%= inputedValues.password2 %>" required>
                <label for="password">Password</label>
              </div>
          </div>
          <div class="row">
          <button type="submit" class="waves-effect waves-light btn col s12">Sign Up</button>
          </div>
        </form>

        <div class="clearfix options">
	    	  <p class="black-text">Already have an account? <a href="/">Log in</a></p>
		    </div>
      </div><!-- col s7 login -->
    </div><!-- row -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/script/init.js"></script>
  </body>

</html>