<!DOCTYPE html>
<html>
   <head>
      <title> Forum </title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <style>
      .search {display: inline;}
    </style>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="black">
          <div class="nav-wrapper">
              <ul class="right" style="height:10px;">
                  <li>Resources</li>
                  <li>PHP</li>
                  <li>Reactjs</li>
              </ul>
          </div>
      </nav>
    </div>

    <div class="row">
        <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
        <!-- Question card -->
        <div class="col s6 card">
          <!-- Question holder -->
          <div id="questionHolder">
            <% questions.forEach(function(question) { %>
              <div id="question" class="card" style="padding:10px;">
                  <a href="/question/<%=question._id%>" target="_blank">
                    <h5>
                      <%=question.question%>
                    </h5>
                  </a>
                  <!--<i>Edit</i>-->
                  <h6>
                    <i style="font-size:11px; text-transform:capitalize;"><%=question.date%></i>
                  </h6>
              </div>
              <div id="response">
                <button class="chip btn grey" style="font-size:11px;">Views <i> <%=question.views.viewers.length%></i></button>
                <button class="chip btn grey" style="font-size:11px;">Answers <i> <%=question.views.viewers.length%></i></button>
              </div>
              <!--<div>
                Answers for this Question
                <h6>
                  How can I install Mongoose?
                  How can I install Mongoose?
                  How can I install Mongoose?
                </h6>
                <button class="chip btn grey" style="font-size:11px; text-transform:capitalize;" onclick="makeAVote()">Vote <i> <%=question.votes.voters.length%></i></button>
                <h6 class="right-align">Adedayo <i style="font-size:10px;">12/12/2017</i></h6>
              </div>
               Response -->
            <% }); %>
            <!-- Question-->
          </div>
          <!-- Question holder -->
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
        </div>
        <!-- Question card -->
        <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
        <!-- To be Fixed -->
        <div class="col s3 card ">
          <h4>User Activities</h4>
          <div>
            <button class="btn grey" style="font-size:11px;">Ask a Question</button>
            <div class="input-field col s12">
               <input placeholder="Search For a Question" id="first_name" type="text" class="validate" onkeyup="search(this.value)">
            </div>
          </div>
          <div >
            <ul>
                <li id='searchResultDisplay'></li>
            </ul>
            <p>Search Questions By Courses</p>
            <ul>
              <li class="search"><a href="/question/javascript" target="_blank"> JavaScript </a></li>
              <li class="search"><a href="/question/php" target="_blank"> PHP </a></li>
              <li class="search"><a href="/question/java" target="_blank"> Java </a></li>
              <li class="search"><a href="/question/mongoDB" target="_blank"> MongoDB </a></li>
              <li class="search"><a href="/question/node" target="_blank"> Node </a></li>
              <li class="search"><a href="/question/express" target="_blank"> Express </a></li>
            </ul>
          </div>
          <div class="col s12">
          <form action="" id="questionform" method="post" enctype="multipart/form-data">
          <h5 class="center-align">Add a Question</h5>
          <span id="msgdisplay"></span>
          <div class="row">
            <div class="input-field col s12">
              <textarea class="materialize-textarea" id="yourquestion" required maxlength="200" name="question"></textarea>
              <label for="textarea1">Enter your Question.</label>
            </div>
            <div>
              <span><i>200 Characters More. you can use markdown</i></span>
            </div>

            <!--<div class="file-field input-field">
              <div class="btn grey">
                <span>File</span>
                <input type="file" multiple name="files">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>-->
          <p>
            <input type="checkbox" id="test5" name="notify" />
            <label for="test5">Notify me by Email when Answered</label>
          </p>
          <label>Add a Tag</label>
          <select class="browser-default" name="tag" id="tag">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">JavaScript</option>
            <option value="2">Node</option>
            <option value="3">Mongo DB</option>
          </select>
          <div>

          </div>
          <button class="btn waves-effect waves-light grey" type="button" name="action" onclick="addQuestion()" >Submit
              <i class="material-icons right">send</i>
          </button>
          </div>
      </form>
        </div>
      </div>
      <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
      <!-- Add A Question -->
  <script src="js/validate.js" type="text/javascript"></script>
  <script>
      function addQuestion() {
        const yourQuestion = $('#yourquestion').val();
        const notify = $('#test5').val();
        const tag = $('#tag').val();
        $.post('/addQuestion',{question:yourQuestion, notify: notify, tag: tag}, function(response){
          $('#msgdisplay').text(response);
        });
      }
      function search(terms){
        if(terms.length > 5){
          $.post('/search',{term: terms}, function(response){
            let result = '';
            response.forEach(function(respons){
              result += "<li><a href='/question/"+respons._id+"' target='_blank'>"+respons.question+"</a></li>";
            });
            $('#searchResultDisplay').html(result);
          })
      }
      }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
   </body>
</html>
