<!DOCTYPE html>
<html>
   <head>
      <title> Forum </title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="black">
          <div class="nav-wrapper">
              <ul class="right" style="height:10px;">
                  <li>Resources</li>
                  <li>PHP</li>
                  <li>Reactjs</li>
              </ul>
          </div>
      </nav>
    </div>

    <div class="row">
        <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
        <!-- Question card -->
        <div class="col s6 card">
          <!-- Question holder -->
          <div id="questionHolder">
              <div id="question" class="card" style="padding:10px;">
                    <h5>
                      <%=question.question%>
                    </h5>
                  <!--<i>Edit</i>-->
                  <h6>
                    <%=question.idOfPoster%>.
                    <i style="font-size:11px; text-transform:capitalize;"><%=question.date%></i>
                  </h6>
              </div>
              <div id="response">
                <button class="chip btn grey" style="font-size:11px;">Views <i> <%=question.views.viewers.length%></i></button>
                <button class="chip btn grey" style="font-size:11px;">Answers <i> <%=question.views.viewers.length%></i></button>
              </div>
              <div>
                Answers for this Question
                <h6>
                  How can I install Mongoose?
                  How can I install Mongoose?
                  How can I install Mongoose?
                </h6>
                <button class="chip btn grey" style="font-size:11px; text-transform:capitalize;" onclick="makeAVote()">Vote <i> <%=question.votes.voters.length%></i></button>
                <h6 class="right-align">Adedayo <i style="font-size:10px;">12/12/2017</i></h6>
              </div>
               <!--Response -->
            <!-- Question-->
          </div>
          <!-- Question holder -->
        </div>
        <!-- Question card -->
        <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
        <!-- To be Fixed -->
        <div class="col s3 card ">
          <h4>User Activities</h4>
          <div>
            <button class="btn grey" style="font-size:11px;">Ask a Question / Add a Resource</button>
            <div class="input-field col s12">
               <input placeholder="Search For a Question" id="first_name" type="text" class="validate">
            </div>
          </div>
          <div id='searchResultDisplay'>
            <ul>
            </ul>
          </div>
          <!-- Your Answer -->
          <div class="col s12">
          <form action="#">
          <h4 class="center-align">Add your Answer</h4>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="answer" class="materialize-textarea" required maxlength="200" name="answer"></textarea>
              <label for="textarea1">Enter your Question.</label>
            </div>
              <input type="hidden" value="<%=question._id %>" id="questionid" />
            <div>
              <span><i>200 Characters More. you can use markdown</i></span>
            </div>
          <button class="btn waves-effect waves-light grey" type="button" name="action" onclick="addAnswer()">Submit
              <i class="material-icons right">send</i>
          </button>
          </div>
      </form>
        </div>
      </div>
      <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
  <script src="js/validate.js" type="text/javascript"></script>
  <script>
      function addAnswer() {
        const questionId =$('#questionid').val();
        const answer =$('#answer').val();
        alert(questionId);
        alert(answer);
        $.post('/addAnswer',{answer:answer, questionid: questionId}, function(response){
          alert(response);
          // $('#msgdisplay').text(response);
        });
      }

      function makeAVote() {
        alert('voter');
      }

      function addViews() {
        // alert('Views');
      }
    window.onload = addViews();
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
   </body>
</html>
